{% extends 'base.html' %}

{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% block title %} 
<title>Todo List</title>
{% endblock %}
{% endblock %}
{% block content %}
<section id="first">
    <div class="container">
        <form>
            <label for="name">Task</label>
            <div class="form-control">
                <input type="text" id="name" required>
                <input type="submit" value="Send" id="submit">
            </div>
        </form>
        
    </div>
    <section id="output">
        <ul id="tasklist">
            
        </ul>
    </section>
    
</section>

{% endblock %}

{% block scripts %}
{% load static %}

 <script src="{% static 'js/app.js' %}"></script> 
{% endblock %}

